@model IEnumerable<NRMCoreMvcArabaProje.Models.Car>

@{
    ViewData["Title"] = "Araçlarımız";
}

<h1>Araçlar</h1>

<p>
   @* <a asp-action="Create">Create New</a> @*//tag helper*@
    <a asp-action="AracGirisi"  asp-controller="Home" class="btn btn-primary">+ Araç Ekle</a> @*//tag helper , asp action yerine href de yazabiliyoruz*@
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Araç No

                @*@Html.DisplayNameFor(model => model.Id) @*//html helper*@
            </th>
            <th>
                Marka
                @*@Html.DisplayNameFor(model => model.Marka)*@
            </th>
            <th>
                Model
                @*@Html.DisplayNameFor(model => model.Model)*@
            </th>
            <th>
                Fiyat
                @*@Html.DisplayNameFor(model => model.UnitPrice)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
              @*  @Html.DisplayFor(modelItem => item.Id)*@
            </td>
            <td>
                @item.Marka
               @* @Html.DisplayFor(modelItem => item.Marka)*@
            </td>
            <td>
                @item.Model
               @* @Html.DisplayFor(modelItem => item.Model)*@
            </td>
            <td>
                @item.UnitPrice
               @* @Html.DisplayFor(modelItem => item.UnitPrice)*@
            </td>
            <td>
                <a href="/home/edit/@item.Id" class="btn btn-success">Güncelle</a> @*HTML TAG İLE*@
               @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | @*//html helperla link verme**@
                <a asp-action="detay" class="btn btn-warning" asp-route-id="@item.Id">Detay</a> <!--tag helper ile link verme-->

                @Html.ActionLink("Sil","Delete",new{id=item.Id},new {@class="btn btn-danger", onclick="return confirm('Silmek istediğinize emin misiniz ?');"})<!--html helper ile link verme-->
            </td>
        </tr>
}<tr>
    <td></td>
    <td></td>
            <td style="text-align:end;">Toplam Tutar</td>
    <td>@ViewData["ToplamTutar"]</td>
  @*  <td>@String.Format("{0:0.##}",TempData["ToplamTutar"])</td>*@
    <td></td>
</tr>
    </tbody>
</table>
